body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header{
    background: rgba(255, 144, 14, 0.1);
     
}
.nav-container{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    display: flex; 
    justify-content: space-between; 
    justify-items: center;
    
}
.nav-heading{
    font-weight: 700;
    font-size: 24px;
    color: #131313;
}
.nav-items{
    display: flex;
    gap: 35px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* banner section */
.banner-container{
    text-align: center;
}
.banner-heading{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}
.banner-des{
    font-size: 16px;
    color: #727272;
}
.explore-btn{
    background: #FF900E;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
}
.banner-img{
    padding-top: 50px;
    padding-bottom: 50px;  
}

/* feature photo section */

.feature-photos-container{
    display: flex;
    /* justify-content: center; */
    gap: 20px;
}
.photo-section{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding-left: 100px;
    padding-top: 100px;
}
.img{
    width: 342px;
    height: 342px;
}
.text-section{
    padding-top: 260PX;
    Width: 550px;
    Height: 300px;
}
.text-heading{
    font-size: 45px;
}
.quick{
    font-weight: 500;  
    color: gray;
}
.our{
    font-weight: 700;
    color: #131313;
}
.features{
    font-weight: 700;
    color: #FF900E;
}
.text-des{
    font-size: 16px;
    color: #727272;
}

/* <!-- feature list section --> */
.feature-list-and-image-container{   
    display: flex;
    justify-items: center;
    gap: 50px;
}
.list-section{
    padding-top: 150px;
    width: 50%;
}
.list-heading{
    display: flex;
    gap: 8px;
    padding-left: 100px;
}
.vl {
    border-left: 6px solid #bb6707;
    height: 105px;
  }
  .heading{
    width: 470px;
    height: 105px;
    font-weight: 700;
    font-size: 45px;
  }

  .list-des{
    ont-size: 16px;
    color: #727272;
    padding-bottom: 30px;
    padding-left: 100px;
  }
  .list{
    padding-left: 120px;
  }
  .item-heading{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
  }
  .item-des{
    color: #727272;
    font-size: 16px
  }
  .image-section{
    padding-top: 50px;
  }

  .ex-btn{
    /* justify-content: center; */
    padding-top: 25px;
    line-height: .1;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 200px;
    background-color: #bb6707;
  }
.year{
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}
 .ex{
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
 }
 .image-section .ex-btn{
    position: absolute;
  top: 3000px;
  left: 900px;
 }

 /* facts section */
 .facts-text{
    padding-top: 150px;
    padding-left: 100px;
    

 }
 .facts-heading{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    line-height: .01;
 }
 .facts-des{
    width: 542px;
    height: 52px;
    font-size: 16px;
    color: #727272;
 }
 .facts-list{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
 }
 .lists{
    width: 150px;
    height: 150px;
    border: 1px solid #FF900E;
    border-radius: 8px;  
    padding-top: 20px;
 }
 .fact-image{
    padding-left: 50px;
 }
 .score{
    font-weight: 600;
font-size: 45px;
color: #424242;
text-align: center;
 }
 .img-tag{
    color: #727272;
    text-align: center;
    font-weight: 600;
    font-size: 20px,  
 }
